# Import

In [2]:
from typing import List, Dict, Optional
from collections import deque
from sortedcontainers import SortedList

# support for maintaining a list in sorted order
# without having to sort the list after each insertion
import bisect

import pandas as pd
import numpy as np

Array/String - E
Array/String - M
Two Pointers - E
Two Pointers - M
Sliding Window - M
Matrix - M
Hashmap - E
Hashmap - M
Intervals - E
Intervals - M
Stack - E
Stack - M
Linked List - E
Linked List - M
Binary Tree General - E
Binary Tree General - M
Binary Tree BFS - E
Binary Tree BFS - M
Binary Search Tree - E
Binary Search Tree - M
Graph General - M
Graph BFS - M
Trie - M
Backtracking - M
Divide $ Conquer - E
Divide $ Conquer - M
Kadane's Algorithm - M
Binary Search - E
Binary Search - M
Heap - M
Bit Manipulation - E
Bit Manipulation - M
Math - E
Math - M
1D DP - E
1D Dp - M
Multidimensional DP - M

In [ ]:
def get_bit(num: int, pos: int):
    return num >> pos & 1

In [ ]:
def bit_list_to_int(bit_list: List[int]):
    res = 0
    for pos, bit in enumerate(bit_list):
        if bit == 1:
            res |= bit << pos
    return res

# Test Pandas

In [3]:
df = pd.DataFrame(
    {
        "A": [1, 2, 3, np.nan, 5, np.nan, 1],
        "B": [6, 7, np.nan, 9, 10, 6, 0],
        "C": ["a", "a", "c", "c", "b", "a", "a"],
        "D": [1, 3, 4, 4, 2, 2, 2],
    }
)
df

     A     B  C  D
0  1.0   6.0  a  1
1  2.0   7.0  a  3
2  3.0   NaN  c  4
3  NaN   9.0  c  4
4  5.0  10.0  b  2
5  NaN   6.0  a  2
6  1.0   0.0  a  2

In [ ]:
df_2 = pd.DataFrame(
    {
        "C": ["a", "b", "c"],
        "E": ["A", "B", "C"],
    }
)

In [ ]:
df.drop_duplicates(subset=["C"])

In [ ]:
df.dropna(subset=["C"])

In [ ]:
df.dropna(subset=["C", "A"], how="all")

In [ ]:
df.dropna(subset=["C", "A"], how="any")

In [ ]:
def nth_highest(df: pd.DataFrame, col: str, n: int):
    values = sorted(df["D"].unique(), reverse=True)
    if len(values) < n:
        return pd.DataFrame({"value": [None]})
    return pd.DataFrame({"value": [values[n - 1]]})

In [ ]:
unique_values = df["D"].unique()
unique_values.sort()
unique_values

In [ ]:
df["row_num"] = (
    df.sort_values(by=["C", "D"], ascending=[True, False])
    .groupby(["C"])["D"]
    .cumcount()
)
df["rank"] = df.groupby(["C"])["D"].rank()
df["rank_2"] = df.groupby(["C"])["D"].rank(method="min", ascending=False)
df["dense_rank"] = df.groupby(["C"])["D"].rank(method="dense")
df["max"] = df.groupby(["C"])["D"].transform(max)
df.sort_values(by=["C", "D"])

In [ ]:
df["max"] = df.groupby(["C"])["D"].transform(max)
df[df["D"] == df["max"]].merge(
    df_2, left_on="C", right_on="C", suffixes=("", "_right")
)

In [ ]:
df.rename(columns={"C": "id"})

In [ ]:
df.groupby(["C"])["D"].transform(max)

In [ ]:
df.groupby(["C"])["D"].max()

In [ ]:
df.merge(df_2, left_on="C", right_on="C", suffixes=("_left", "_right"))

In [ ]:
# use if there only 1 max
df.loc[df.groupby(["C"])["D"].idxmax()]

In [ ]:
# def department_highest_salary(
#     employee: pd.DataFrame, department: pd.DataFrame
# ) -> pd.DataFrame:
#     employee["max"] = employee.groupby(["departmentId"])["salary"].transform(
#         max
#     )
#     employee = employee[employee["salary"] == employee["max"]]
#     return employee.merge(
#         department,
#         left_on="departmentId",
#         right_on="id",
#         suffixes=("", "_dept"),
#     ).rename(
#         columns={
#             "name_dept": "Department",
#             "name": "Employee",
#             "salary": "Salary",
#         }
#     )[
#         ["Department", "Employee", "Salary"]
#     ]

In [ ]:
df["D"].rank(method="dense")

In [ ]:
df.sort_values(by="D")

In [ ]:
# def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
#     scores["rank"] = scores["score"].rank(method="dense", ascending=False)
#     return scores.sort_values(by="rank")[["score", "rank"]]

In [ ]:
df

In [ ]:
def get_cate(value: int):
    if value < 3:
        return "< 3"
    elif value < 4:
        return "= 3"
    else:
        return "= 4"


df["category"] = df["D"].map(lambda val: get_cate(val))
df

In [ ]:
df.groupby("category", as_index=False).agg(accounts_count=("D", "count"))

In [ ]:
# column_name = "A"
# groupby_df = df.groupby("C", as_index=False).agg(
#     quantile_5=(column_name, lambda s: s.quantile(0.05)),
#     quantile_25=(column_name, lambda s: s.quantile(0.25)),
#     quantile_50=(column_name, "median"),
#     quantile_75=(column_name, lambda s: s.quantile(0.75)),
#     quantile_95=(column_name, lambda s: s.quantile(0.95)),
#     mean=(column_name, "mean"),
#     std=(column_name, "std"),
# )

In [ ]:
def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    def get_cate(value: int):
        if value < 20000:
            return "Low Salary"
        elif value <= 50000:
            return "Average Salary"
        else:
            return "High Salary"

    accounts["category"] = accounts["income"].map(lambda val: get_cate(val))
    return accounts.groupby("category", as_index=False).agg(
        accounts_count=("account_id", "count")
    )


def count_salary_categories_v2(accounts: pd.DataFrame) -> pd.DataFrame:
    low_salary_count = accounts[accounts["income"] < 20000].shape[0]
    average_salary_count = accounts[
        (accounts["income"] >= 20000) & (accounts["income"] <= 50000)
    ].shape[0]
    high_salary_count = accounts[accounts["income"] > 50000].shape[0]

    return pd.DataFrame(
        {
            "category": ["Low Salary", "Average Salary", "High Salary"],
            "accounts_count": [
                low_salary_count,
                average_salary_count,
                high_salary_count,
            ],
        }
    )

In [ ]:
count_sr = df.groupby("A").size()
res_sr = count_sr[count_sr > 1]
pd.DataFrame({"A": res_sr.index}).merge(df, on="A")

In [ ]:
count_df = df.groupby("A").size().reset_index(name="count")
# count_df.merge(df, left_on="A", right_on="A")
# count_sr[count_sr > 1]

In [12]:
count_sr = (
    df.groupby("A", as_index=False)
    .agg(
        num_rows=("D", "count"),
    )
    .query("num_rows >= 2")["A"]
)

df[df["A"].isin(count_sr)]

     A    B  C  D
0  1.0  6.0  a  1
6  1.0  0.0  a  2

In [ ]:
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    count_sr = employee.groupby("managerId").size()
    res_sr = count_sr[count_sr >= 5]
    return pd.DataFrame({"id": res_sr.index}).merge(employee, on="id")[
        ["name"]
    ]


def find_managers_v2(employee: pd.DataFrame) -> pd.DataFrame:
    managers = (
        employee.groupby("managerId", as_index=False)
        .agg(
            direct_reports=("id", "count"),
        )
        .query("direct_reports >= 5")["managerId"]
    )

    return employee[employee["id"].isin(managers)][["name"]]


def find_managers_v3(employee: pd.DataFrame) -> pd.DataFrame:
    manager_df = (
        employee.groupby("managerId").size().reset_index(name="direct_reports")
    )
    manager_df = manager_df[manager_df["direct_reports"] >= 5]
    return manager_df.merge(
        employee[["id", "name"]], left_on="managerId", right_on="id"
    )[["name"]]

# Test

In [ ]:
a = {"a": [1, 3], "b": [5], "c": [0, 2, 4]}
max(a.items(), key=lambda x: len(x[1]))

In [ ]:
for i in range(1, 3):
    print(i)

In [ ]:
a = "abc"
set(a)

In [ ]:
stack = deque("abc")
stack

In [ ]:
str(list(stack))

In [ ]:
a = "a"

In [ ]:
ord("a") - 97

In [ ]:
[[]] * 2

In [ ]:
len({})

In [ ]:
chr(97)

In [ ]:
ord("A")

In [ ]:
# Disjoint Set Union
# https://cp-algorithms.com/data_structures/disjoint_set_union.html
class SimpleUnionFind:
    parent: Dict[int, int] = {}

    def __init__(self, num_elems: int):
        for i in range(num_elems):
            self.parent[i] = i

    def find_set(self, elem: int):
        if self.parent[elem] == elem:
            return elem
        return self.find_set(self.parent[elem])

    def union_sets(self, elem_1: int, elem_2: int):
        set_1 = self.find_set(elem_1)
        set_2 = self.find_set(elem_2)
        self.parent[set_2] = set_1

In [ ]:
#
class UnionFind:  # DisjointSetUnion
    parent: List[int]
    rank: List[int]

    def __init__(self, num_elems: int):
        self.parent = list(range(num_elems))
        self.rank = [0] * num_elems

    def find_set(self, elem: int):
        if self.parent[elem] == elem:
            return elem
        return self.find_set(self.parent[elem])

    def union_sets(self, elem_1, elem_2):
        set_1 = self.find_set(elem_1)
        set_2 = self.find_set(elem_2)

        if self.rank[set_1] < self.rank[set_2]:
            self.parent[set_1] = set_2
        elif self.rank[set_1] > self.rank[set_2]:
            self.parent[set_2] = set_1
        else:
            self.parent[set_1] = set_2
            self.rank[set_2] += 1

In [ ]:
#
class UnionFind:  # DisjointSetUnion
    parent: List[int]
    rank: List[int]

    def __init__(self, num_elems: int):
        self.parent = list(range(num_elems))
        self.rank = [0] * num_elems

    def find_set(self, elem: int):
        if self.parent[elem] == elem:
            return elem
        self.parent[elem] = self.find_set(self.parent[elem])
        return self.parent[elem]

    def union_sets(self, elem_1, elem_2):
        set_1 = self.find_set(elem_1)
        set_2 = self.find_set(elem_2)

        if self.rank[set_1] < self.rank[set_2]:
            self.parent[set_1] = set_2
        elif self.rank[set_1] > self.rank[set_2]:
            self.parent[set_2] = set_1
        else:
            self.parent[set_1] = set_2
            self.rank[set_2] += 1